{{#if isShowing}}
  {{#if hasErrors}}
  <div class="alert alert-danger">
    <p>There was an error submitting this form</p>
  </div>
  {{/if}}
  <form>
    {{yield}}
    <button {{action 'submit'}} type="submit" class="btn btn-primary col-xs-9">
      {{submitText}}
    </button>
    <button {{action toggleAction}} type="cancel" class="btn btn-default pull-right col-xs-2">
      {{cancelText}}
    </button>
  </form>
{{else}}
  <button {{action toggleAction}} class="btn btn-default toggle-form">
    {{toggleText}}
  </button>
{{/if}}
