{{#if isEditing}}
  <div class="row">
    <form {{action "toggleEditing" on="submit"}}>
      <div class="col-xs-5">
        {{input
          value=fieldValue
          placeholder=placeholder
          class="form-control"
        }}
      </div>
      <button {{action 'save'}} type="submit" class="btn btn-primary">
        Update
      </button>
      <button {{action 'cancel'}} type="cancel" class="btn btn-default">
        Cancel
      </button>
    </form>
  </div>
{{else}}
  <span class="toggle-form" {{action toggleAction}}>
    {{value}}
    <span class="glyphicon glyphicon glyphicon-pencil toggle-indicator"
      aria-hidden="true"></span>
  </span>
{{/if}}
