<h1>Disclosed Form</h1>

<div class="col-xs-6">
  {{#if model.length}}
    <ul class="list-group">
    {{#each model as |key|}}
      <li class="list-group-item">
      {{key.name}}
        <span class="pull-right">
          <button {{action 'deleteKey' key}} class="pull-right">
            X
          </button>
        </span>
        <div class="text-muted">
          {{key.key}}
        </div>
      </li>
    {{/each}}
    </ul>
  {{else}}
      <p>Your SSH Keys will appear here</p>
  {{/if}}

  {{#purple-disclosed
    toggleText="Add SSH Key"
    submitText="Save SSH Key"
    cancelText="Cancel"
    model=form}}

    <div class="form-group">
      {{textarea class="form-control" cols="75" rows="6"
        placeholder="Paste your SSH key here" value=key}}
    </div>
    <div class="form-group">
      {{input class="form-control" placeholder="Label this key" value=name}}
    </div>

  {{/purple-disclosed}}
</div>
