<h1>Disclosed Form</h1>

<div class="col-xs-6">
  {{#if isShowing}}
    <form>
      <div class="form-group">
        {{textarea class="form-control" cols="75" rows="6"
          placeholder="Paste your SSH key here"}}
      </div>
      <div class="form-group">
        {{input class="form-control" placeholder="Label this key"}}
      </div>
      <button {{action "toggleShowing"}} type="submit" class="btn btn-primary col-xs-9">
        Save SSH Key
      </button>
      <button {{action "toggleShowing"}} type="cancel" class="btn btn-default pull-right col-xs-2">
        Cancel
      </button>
    </form>
  {{else}}
    <button {{action "toggleShowing"}} class="btn btn-default">Add SSH Key</button>
  {{/if}}
</div>
